<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


<!-- Main Site -->
<main id="site-main">
    <div class="container">

        <div class="box-nav d-flex justify-between">
            <a href="/add-enrich" class="border-shadow">
                <span class="text-gradient">Add New Record <i class="fas fa-user"></i></span>
            </a>
        </div>

        <div>
            <form action="/api/enrichs/import" method="POST" enctype="multipart/form-data">



                <div class="box-nav justify-between">
                    <input type="file" class="" name="file">
                    <button type="submit"  class="text-gradient p-10">Import CSV </button>
                </div>

            </form>
        </div>


        <!-- form handling -->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>BUSINESSNAME</th>
                    <th>ADDRESS</th>
                    <th>YRSINBIZ</th>
                    <th>EIN</th>
                    <th>OWNERNAME</th>
                    <th>TEL</th>
                    <th>EMAIL</th>
                    <th>DOB</th>
                    <th>SSN</th>
                    <th>BANKNAME</th>
                    <th>ACCOUNTNUMBER</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <%- include('include/_show') %>
                </tbody>
            </table>
        </form>
    </div>
</main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
