<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i> All Records</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Record</h2>
            <span class="text-light">Use the below form to Update an account</span>
        </div>

        <!-- add user form -->
        <!-- form handling -->
        <form method="POST" id="update_user">
            <div class="new_user">
                <div class="form-group">
                    <label for="BUSINESSNAME" class="text-light">BUSINESSNAME</label>
                    <input type="hidden" name="id" value="<%= enrich._id %>">
                    <input type="text" name="BUSINESSNAME" id="BUSINESSNAME" value="<%= enrich.BUSINESSNAME %>"
                           placeholder="Enter BUSINESSNAME">
                </div>
                <div class="form-group">
                    <label for="ADDRESS" class="text-light">ADDRESS</label>
                    <input type="text" name="ADDRESS" id="ADDRESS" value="<%= enrich.ADDRESS %>" placeholder="ADDRESS">
                </div>
                <div class="form-group">
                    <label for="YRSINBIZ" class="text-light">YRSINBIZ</label>
                    <input type="text" name="YRSINBIZ" value="<%= enrich.YRSINBIZ %>" placeholder="YRSINBIZ">
                </div>
                <div class="form-group">
                    <label for="EIN" class="text-light">EIN</label>
                    <input type="text" name="EIN" value="<%= enrich.EIN %>" placeholder="EIN">
                </div>
                <div class="form-group">
                    <label for="OWNERNAME" class="text-light">OWNERNAME</label>
                    <input type="text" name="OWNERNAME" value="<%= enrich.OWNERNAME %>" placeholder="OWNERNAME">
                </div>
                <div class="form-group">
                    <label for="TEL" class="text-light">TEL</label>
                    <input type="text" name="TEL" value="<%= enrich.TEL %>" placeholder="TEL">
                </div>
                <div class="form-group">
                    <label for="EMAIL" class="text-light">Email</label>
                    <input type="text" name="EMAIL" value="<%= enrich.EMAIL %>" placeholder="example@gmail.com">
                </div>
                <div class="form-group">
                    <label for="DOB" class="text-light">DOB</label>
                    <input type="text" name="DOB" value="<%= enrich.DOB %>" placeholder="DOB">
                </div>
                <div class="form-group">
                    <label for="SSN" class="text-light">SSN</label>
                    <input type="text" name="SSN" value="<%= enrich.SSN %>" placeholder="SSN">
                </div>
                <div class="form-group">
                    <label for="BANKNAME" class="text-light">BANKNAME</label>
                    <input type="text" name="BANKNAME" value="<%= enrich.BANKNAME %>" placeholder="BANKNAME">
                </div>
                <div class="form-group">
                    <label for="ACCOUNTNUMBER" class="text-light">ACCOUNTNUMBER</label>
                    <input type="text" name="ACCOUNTNUMBER" value="<%= enrich.ACCOUNTNUMBER %>"
                           placeholder="ACCOUNTNUMBER">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>

            </div>
        </form>

    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
