<!-- form handling -->
<form action="/api/enrichs" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="BUSINESSNAME" class="text-light">BUSINESSNAME</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="BUSINESSNAME" id="BUSINESSNAME" value="" placeholder="Enter BUSINESSNAME">
        </div>
        <div class="form-group">
            <label for="ADDRESS" class="text-light">ADDRESS</label>
            <input type="text" name="ADDRESS" id="ADDRESS" value="" placeholder="ADDRESS">
        </div>
        <div class="form-group">
            <label for="YRSINBIZ" class="text-light">YRSINBIZ</label>
            <input type="text" name="YRSINBIZ" value="" placeholder="YRSINBIZ">
        </div>
        <div class="form-group">
            <label for="EIN" class="text-light">EIN</label>
            <input type="text" name="EIN" value="" placeholder="EIN">
        </div>
        <div class="form-group">
            <label for="OWNERNAME" class="text-light">OWNERNAME</label>
            <input type="text" name="OWNERNAME" value="" placeholder="OWNERNAME">
        </div>
        <div class="form-group">
            <label for="TEL" class="text-light">TEL</label>
            <input type="text" name="TEL" value="" placeholder="TEL">
        </div>
        <div class="form-group">
            <label for="EMAIL" class="text-light">Email</label>
            <input type="text" name="EMAIL" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="DOB" class="text-light">DOB</label>
            <input type="text" name="DOB" value="" placeholder="DOB">
        </div>
        <div class="form-group">
            <label for="SSN" class="text-light">SSN</label>
            <input type="text" name="SSN" value="" placeholder="SSN">
        </div>
        <div class="form-group">
            <label for="BANKNAME" class="text-light">BANKNAME</label>
            <input type="text" name="BANKNAME" value="" placeholder="BANKNAME">
        </div>
        <div class="form-group">
            <label for="ACCOUNTNUMBER" class="text-light">ACCOUNTNUMBER</label>
            <input type="text" name="ACCOUNTNUMBER" value="" placeholder="ACCOUNTNUMBER">
        </div>


        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
