<% for(var i = 0; i < csvs.length; i++) { %>
<tr>
    <td><%= csvs[i].BUSINESSNAME %></td>
    <td><%= csvs[i].ADDRESS %></td>
    <td><%= csvs[i].YRSINBIZ %></td>
    <td><%= csvs[i].EIN %></td>
    <td><%= csvs[i].OWNERNAME %></td>
    <td><%= csvs[i].TEL %></td>
    <td><%= csvs[i].EMAIL %></td>
    <td><%= csvs[i].DOB %></td>
    <td><%= csvs[i].SSN %></td>
    <td><%= csvs[i].BANKNAME %></td>
    <td><%= csvs[i].ACCOUNTNUMBER %></td>
    <td>
        <a href="/update-enrich?id=<%= csvs[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= csvs[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>
